.header{
    width:100%;
    position: fixed;
    height: 40px;
    z-index: 1001;
    background: 	rgba(241, 225, 255,0.7);
}
.header>h2{
    line-height: 40px;
    text-align: center;
    color: white;
}
.top{
    width: 375px;
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
}
.top-img img{
    width:100%;
}
.name{
    width:375px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 15px;
}
.name-title{
    text-align: center;
    font-size: 22px;
    line-height: 2;
}
.name-text{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.4;
    font-size: 14.5px;
    text-align: justify;
}
.process{
    width:375px;
    margin: 0 auto;
    background-image: url(../images/process.jpg);
    padding-bottom: 10px;
}
.process-title{
    text-align: center;
    line-height: 2;
    font-size: 22px;
    color: white;
}
.process-content{
    width:84%;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.process-content>h1{
    text-align: center;
    font-size: 17px;
    line-height: 2;
}
.process-content>p{
    text-align: justify;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.3;
}
.yours{
    width:375px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.yours>h1{
    text-align: center;
    line-height: 2;
    font-size: 22px;
}
.yours>p{
    font-size:14.5px ;
    line-height: 1.3;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}
.flower{
    width: 375px;
    margin: 0 auto;
    position: relative;
    height: 250px;
}
.flower>img{
    width: 100%;
}
.footer{
    width: 375px;
    height: 50px;
    margin: 0 auto;
    background: rgba(241, 225, 255,0.7);
}
.footer>h2{
    text-align: center;
    font-size: 18px;
    color: white;
    line-height: 50px;
}